/* Default style definitions */

body {
    margin: 0cm 0;
    padding: 0px;
}


.page-number:before {
    content: "Strona " counter(page);
}

hr {
    page-break-after: always;
    border: 0;
}


/* Notes
-----------------------------------------------------------------------*/
.note_form {
    display: none;
}

/* Page
-----------------------------------------------------------------------*/
.page {
    background-color: white;
    padding: 70px 20px 20px 20px;
}

@page {
    margin: 0.35in 0.35in 0.35in 0.35in;
}

/* General
-----------------------------------------------------------------------*/
body {
    background-color: transparent;
    color: black;
    font-family: dejavu sans;
    margin: 0px;
    font-style: normal;
    font-size: 0.7em;
    line-height: 100%;
}

#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: #aaa;
    width: 100%;
}

#header {
    top: 0;
    padding-bottom: 10px;
    border-bottom: 0.1pt solid #0096D6;
}

#footer {
    bottom: 50px;
}

@media print {
    p {
        margin: 2px;
    }
}

img {
    border: none;
}

p {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

tr.tr-grey td {
    background-color: #d6d6d6;
    padding: 5px;
}

.strong {
    font-weight: bold;
}
